* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calc__button {
    height: 3rem;
    cursor: pointer;
}

.calc__button:active, .calc__buttonLong:active {
    background-color: azure !important;
    color: black;
}

.calc__buttonLong {
    height: 6rem;
    cursor: pointer;
}

.menu__btn {
    cursor: pointer;
}

.menu__btn:active {
    color: azure;
}

.hidden {
    display: none;
}
