@import 'variables';


.btn {
    cursor: pointer;
    padding-inline: 1rem;
    padding-block: .5rem;
    color: white;
    background-color: var(--green-dark);
    border: none;
    user-select: none;

    &:active {
        background-color: var(--green-light);
    }
}

.d-none {
    display: none !important;
}

.switch {
    font-size: .5rem;
    height: 2em;
    width: 4em;
    border-radius: 1em;
    background-color:var(--green-dark);
    position: relative;

    input {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: 3;
    }

    &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        bottom: 0;
        width: 1.6em;
        margin: .2em;
        border-radius: 50%;
        background-color: white;
        z-index: 2;
        transition: left, right 0.3s ease-in-out;

    }

    &.switch-on {
        &::after {
            left: unset;
            right: 0;
        }
    }
}

