@import 'variables';

.customer__add__modal {

    .box {
        max-width: 500px;

        .body {
            form.form {
                .form__group {
                    .form__control {
                        position: relative;
                        .customer__search__results {
                            // display: fl;
                            position: absolute;
                            z-index: 2;
                            top: 4rem;
                            left: 0;
                            width: 300px;
                            background-color: white;
                            border-radius: .5rem;
                            border: var(--border);
                            display: none;

                            >* + * {
                                padding-top: .5rem;
                            }

                            div {
                                padding-inline: 1rem;
                                cursor: pointer;

                                span.h {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}