:root {
  --border: rgb(204, 204, 204) 1px solid;
  --green-dark: #188754;
  --green-light: #A6D0A8;
  --blue-light: #CAF1F8;
  --red-dark: #DD3245;
  --red-light: #e05061;
  --red-light-10: #e0818d;
  --grey-10: #727378;
  --grey-6: #d5d9db;
  --grey-5: #E6EBEE;
  --grey-1: #F1F5F6;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family: var(--bs-font-sans-serif);
}

.bg__green {
  background-color: var(--green-light);
}

.bg__blue {
  background-color: var(--blue-light);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
body .col-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 41.6666666667%;
  height: 100%;
}
body .col-5 .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
body .col-5 .top .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  width: 100%;
  border: var(--border);
  margin-bottom: 0.5rem;
}
body .col-5 .top .header .title {
  font-weight: bold;
}
body .col-5 .top .table {
  width: 100%;
  overflow: auto;
  height: 600px;
}
body .col-5 .top .table::-webkit-scrollbar {
  width: 7px;
}
body .col-5 .top .table::-webkit-scrollbar-track {
  display: none;
}
body .col-5 .top .table::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--grey-10);
}
body .col-5 .top table {
  width: 100%;
  border: var(--border);
  border-collapse: collapse;
}
body .col-5 .top table thead {
  z-index: 6;
}
body .col-5 .top table th {
  position: sticky;
  top: 0;
  background-color: white;
}
body .col-5 .top table th,
body .col-5 .top table tr {
  border: var(--border);
}
body .col-5 .top table td,
body .col-5 .top table th {
  padding-inline: 0.5rem;
  padding-block: 1rem;
  vertical-align: text-top;
  max-width: 200px;
}
body .col-5 .top table td .cart__record__deleteBtn,
body .col-5 .top table th .cart__record__deleteBtn {
  background-color: var(--red-dark);
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
body .col-5 .top table td .cart__record__deleteBtn:active,
body .col-5 .top table th .cart__record__deleteBtn:active {
  background-color: var(--red-light);
}
body .col-5 .top table td .quantity,
body .col-5 .top table th .quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
body .col-5 .top table td .quantity input,
body .col-5 .top table th .quantity input {
  max-width: 70px;
  padding: 0.2rem;
}
body .col-5 .top table td .quantity .cart__record__A,
body .col-5 .top table th .quantity .cart__record__A {
  background-color: var(--green-dark);
  position: relative;
  padding: 0.2rem;
  border-radius: 0.2rem;
  color: white;
  margin-left: 0.2rem;
  cursor: pointer;
}
body .col-5 .top table td .quantity .upbtn,
body .col-5 .top table td .quantity .downbtn,
body .col-5 .top table th .quantity .upbtn,
body .col-5 .top table th .quantity .downbtn {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  z-index: 5;
  cursor: pointer;
}
body .col-5 .top table td .quantity .upbtn,
body .col-5 .top table th .quantity .upbtn {
  top: -0.6rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid var(--green-light);
}
body .col-5 .top table td .quantity .downbtn,
body .col-5 .top table th .quantity .downbtn {
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--green-light);
  bottom: -0.6rem;
}
body .col-5 .bottom {
  width: 100%;
}
body .col-5 .bottom .totals {
  width: 100%;
}
body .col-5 .bottom .totals > * + * {
  margin-top: 0.2rem;
}
body .col-5 .bottom .totals .total__card {
  width: 100%;
  border: var(--border);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .col-5 .bottom .totals .total__card .title,
body .col-5 .bottom .totals .total__card .amount {
  font-weight: bold;
}
body .col-5 .bottom .totals .total__card .amount span {
  font-weight: bold;
}
body .col-4 {
  width: 33.3333333333%;
  height: 100%;
  padding-inline: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
body .col-4 .customer__detail__screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: var(--border);
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  height: 140px;
}
body .col-4 .customer__detail__screen .title {
  font-size: 1rem;
  font-weight: bold;
}
body .col-4 .customer__detail__screen .detail {
  color: var(--grey-10);
}
body .col-4 .main__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .col-4 .main__menu .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 1rem;
  background-color: var(--grey-5);
  color: var(--grey-10);
  border: var(--border);
}
body .col-4 .main__menu .icon svg {
  height: 3rem;
  margin-bottom: 0.5rem;
}
body .col-4 .main__menu .main__menu__btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-1);
  color: var(--grey-10);
}
body .col-4 .main__menu .main__menu__btns .col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
body .col-4 .main__menu .main__menu__btns .col .menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 1rem;
  border: var(--border);
  cursor: pointer;
}
body .col-4 .main__menu .main__menu__btns .col .menu__btn:active {
  background-color: var(--grey-5);
}
body .col-4 .order__btn {
  width: 100%;
  font-size: large;
}
body .col-4 .calc__screen {
  width: 100%;
  padding-block: 1rem;
  padding-inline: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
}
body .col-3 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
body .col-3 .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-inline: 1rem;
  padding-block: 1rem;
  border: var(--border);
}
body .col-3 .header > div {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--red-dark);
}
body .col-3 .header :last-child {
  color: var(--green-dark);
}
body .col-3 .payments__btn {
  background-color: var(--green-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 1rem;
  width: 100%;
}
body .col-3 .payments__btn svg {
  height: 2rem;
}
body .col-3 .couple__btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .col-3 .couple__btns .btn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 1rem;
  background-color: var(--grey-5);
  color: var(--grey-10);
  border: var(--border);
  cursor: pointer;
}
body .col-3 .signout__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 1rem;
  background-color: var(--red-dark);
  color: white;
  border: var(--border);
  cursor: pointer;
}
body .col-3 .signout__btn svg {
  height: 2rem;
}
body .col-3 .category__btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}
body .col-3 .category__btns .category__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1.5rem;
  color: var(--grey-10);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: bold;
  font-size: 1rem;
  border: var(--border);
}
body .col-3 .category__btns::-webkit-scrollbar {
  width: 7px;
}
body .col-3 .category__btns::-webkit-scrollbar-track {
  display: none;
}
body .col-3 .category__btns::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--grey-10);
}/*# sourceMappingURL=dashboard.css.map */