:root {
  --border: rgb(204, 204, 204) 1px solid;
  --green-dark: #188754;
  --green-light: #A6D0A8;
  --blue-light: #CAF1F8;
  --red-dark: #DD3245;
  --red-light: #e05061;
  --grey-10: #727378;
  --grey-6: #d5d9db;
  --grey-5: #E6EBEE;
  --grey-1: #F1F5F6;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family: var(--bs-font-sans-serif);
}

.inventory__modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.inventory__modal.active {
  display: flex;
}
.inventory__modal .backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 51;
  background-color: var(--grey-10);
  opacity: 0.3;
}
.inventory__modal .box {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.5rem;
  background-color: white;
  z-index: 52;
}
.inventory__modal .box .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: 1rem;
  padding-block: 1rem;
  border-bottom: var(--border);
}
.inventory__modal .box .header .title {
  font-weight: bold;
}
.inventory__modal .box .header .close__btn {
  cursor: pointer;
}
.inventory__modal .box .body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding-inline: 1rem;
  padding-block: 1rem;
}
.inventory__modal .box .body .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inventory__modal .box .body .top .enteries__limit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.inventory__modal .box .body .top .search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.inventory__modal .box .body .top .search input {
  padding-block: 0.4rem;
}
.inventory__modal .box .body .table {
  margin-top: 1rem;
  height: 70vh;
  max-height: 70vh;
  overflow: auto;
}
.inventory__modal .box .body .table table {
  border-collapse: collapse;
}
.inventory__modal .box .body .table table thead th {
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  vertical-align: bottom;
  position: sticky;
  top: 0;
  background-color: white;
}
.inventory__modal .box .body .table table thead th .th__content {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.inventory__modal .box .body .table table thead th .th__content .text {
  margin-right: 0.2rem;
  text-align: left;
}
.inventory__modal .box .body .table table thead th .th__content .sort__icon {
  padding-bottom: 0.5rem;
  cursor: pointer;
}
.inventory__modal .box .body .table table thead th .th__content .sort__icon .sort__up,
.inventory__modal .box .body .table table thead th .th__content .sort__icon .sort__down,
.inventory__modal .box .body .table table thead th .th__content .sort__icon .sort__both {
  height: 0.7rem;
  color: var(--grey-6);
}
.inventory__modal .box .body .table table thead th .th__content .sort__icon .sort__up.active,
.inventory__modal .box .body .table table thead th .th__content .sort__icon .sort__down.active,
.inventory__modal .box .body .table table thead th .th__content .sort__icon .sort__both.active {
  color: var(--grey-10);
  display: block;
}
.inventory__modal .box .body .table table tbody td {
  vertical-align: top;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-top: var(--border);
}
.inventory__modal .box .body .table table tbody td .btn {
  border-radius: 0.2rem;
}
.inventory__modal .box .body .table table tbody tr:nth-child(odd) {
  background-color: var(--grey-5);
}
.inventory__modal .box .body .table::-webkit-scrollbar {
  width: 7px;
}
.inventory__modal .box .body .table::-webkit-scrollbar-track {
  display: none;
}
.inventory__modal .box .body .table::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--grey-10);
}/*# sourceMappingURL=inventory-modal.css.map */